<div class="container-fluid">

<form action="/bands/:id/update" method="post">
  <label>Band Name:</label>
  <input type="text" name="bandName" id="bandName" required autofocus="autofocus">
  <button type="submit" name="bandButton" class="btn btn-success">Submit</button>
</form>
<a href="/bands/$band.getId()" class="btn btn-primary">Back to $band.getName()</a>
</div>
