<div class="container-fluid page-header">
  <h1>Band Tracker</h1>
  <br>
  <h3>Track Your Favorite Bands!</h3>
</div>
<br>
<br>
<br>
<div class="container-fluid footer">
  <a href="/bands" class="btn btn-primary">Create/View Bands</a>
  <br>
  <br>
  <a href="/venues" class="btn btn-info">Create/View Venues</a>
</div>
